.editPost{
  text-align: center;

  h2{
    font-size: 2.2rem;
  }

  p{
    color: #aaa;
    margin-bottom: 2rem;
  }

  .previewTitle{
    margin-bottom: .2rem;
    color: black;
    font-weight: bold;
  }
}

.imagePreview{
  max-width: 100%;
  margin-bottom: 1rem;
}
