:root {
  --font-main: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6fcff;
  font-family: var(--font-main);
}

input::placeholder,
textarea:placeholder {
  font-family: var(--font-main);
  color: #aaa;

  &:focus {
    outline: none;
  }
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  color: black;
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--font-main);

  &:hover {
    color: #bbb;
  }
}

// Form styles

form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  span {
    margin-bottom: 0.3rem;
    font-weight: bold;
    text-align: left;
  }
}

input,
textarea {
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 0;
  background-color: transparent;
}

.btn {
  background-color: #1a8918;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: 0;
  padding: 10px 15px;
  font-size: 1rem;
  transition: 0.2s;
  font-family: var(--font-main);
  

  &:hover {
    background-color: #0f730c;
    color: white;
  }

  &.btn-dark {
    background-color: black;
    border-radius: 0;
  }

  &.btn-outline {
    background-color: transparent;
    border-radius: 0;
    color: black;
    border: 1px solid black;
    padding: 7px 30px;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.btn-danger:hover {
    background-color: #dc4545;
  }
}

button:disabled{
  background-color: #aaa;
}

.container .error{
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}
